@import 'mixins';
@import 'variables';

@import 'fonts';
@import 'header';
@import 'projects';
@import 'about';

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $main-font;
    font-weight: normal;
    font-size: 16px;
}

