header {
    height: 395px;
    background: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url("../../assets/images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include tablet{ 
        height: 550px;
    }
    @include desktop {
        height: 100vh;
    }
}
.navigation {
    padding: 20px;
    display: flex;
    justify-content: center;
    ul {
        text-align: right;
        margin: 0;
    } 
    li {
        display: inline;
        color: white;
        font-size: 16px;
        margin-right: 5%;
        text-transform: uppercase;
        &:hover {
            color: $hover-link;
        }
    }
}

.my-intro {
    margin-top: 5em;
    text-align: center;
    color: white;
    @include tablet {
        margin-top: 15%;
    }
    h1, h2{
        color: $white-text;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    h1 {
        padding-bottom: 2em;
    }
  
}
