.intro-section {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-basis: 40%;
    text-transform: capitalize;
    color: white;
    justify-content: space-around;
}
.my-photo {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    background-image: url("../../assets/images/profilepic.jpg");
    background-repeat: no-repeat;
}
.my-intro {

}