.intro-section {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-basis: 40%;
    text-transform: capitalize;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    @include tablet {
        justify-content: space-around;
    }
}
.my-photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url("../../assets/images/profilepic.jpg");
    background-repeat: no-repeat;
}
.my-intro {

}