/******************************
Screen Sizes
******************************/
$desktop-width: 1240px;
$tablet-width: 600px;

/******************************
Typography
******************************/
$main-font: 'Roboto', sans-serif; 


/******************************
Colours
******************************/

$white-text: #efefef;
$dark-text: #1e1e1d;
$hover-link: #d8c68f;

$linear-gradient: linear-gradient(rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);